TOKEN=YOUR_TELEGRAM_BOT_TOKEN
MONGO=mongodb://USER:PASSWORD@mongodb:27017/playlist?directConnection=true&authSource=admin
ADMIN=YOUR_PERSONAL_TELEGRAM_ID # (for debug purposes)
DONATION_LINK=YOUR_DONATION_LINK # (if needed)
DONATION_FREQUENCY=0.5 # (probability of displaying your donation link)